body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.coming-soon-container {
    /* Background Image */
    background-image: url('IMAGEN.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 50px;
}
